[submodule "OpenXLIFF"]
	path = OpenXLIFF
	url = https://github.com/rmraya/OpenXLIFF.git
[submodule "dictionaries"]
	path = dictionaries
	url = https://github.com/LibreOffice/dictionaries.git
[submodule "HunspellJNA"]
	path = HunspellJNA
	url = https://github.com/dren-dk/HunspellJNA.git
[submodule "tnt-artifacts"]
	path = tnt-artifacts
	url = git@github.com:foolo/tnt-artifacts.git
